/*css = cascading style sheets*/
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
}

h1{/*directe verwijzing naar semantic tag*/ 
   font-family: 'Courier New', Courier, monospace;
    color:blue;/*eigenschap: waarde*/
    font-size: 2rem;
}

li{
    color: green;
    list-style-type:circle;
}

.kinderen li{
    color: blue;
}

article{
    margin-left: 1rem;
    padding:2rem;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    border-left: solid 0.1rem green;
    background-color: rgb(230, 230,230);
    border-radius: 0.5rem;
}

.kinderen{
  background-color: lightsalmon;  
}

.games{
    background-image: url('../images/fortnite.jpg');
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 50%;
}

img{
    width: 2rem;
}

nav{
    /*background-color: yellow;*/
    width: 100%;
}

a{
    /*background-color: red;*/
    display: inline-block;
    width: 8rem;
    text-align: center;
    padding: 0.2rem;
}

a:hover{/*enkel als je erover beweegt*/
    color:red;
}






